{% extends 'base.html.twig' %}

{% block title %}New Strowberry{% endblock %}

{% block body %}
    <h1>Create new Strowberry</h1>

    {{ include('strowberry/_form.html.twig') }}

    <a href="{{ path('strowberry_index') }}">back to list</a>
{% endblock %}
